<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<appender name="ASYNC_AWS_LOGS" class="ca.pjer.logback.AwsLogsAppender">
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
        <level>ERROR</level>
    </filter>
    <layout>
        <pattern>%d{yyyyMMdd'T'HHmmss} %thread %level %logger{15} %msg%n</pattern>
    </layout>
    <!-- prod 용 로그 그룹명 -->
    <logGroupName>${Log_Group_Name:prod}</logGroupName>
    <logStreamUuidPrefix>error-</logStreamUuidPrefix>
    <logRegion>ap-northeast-2</logRegion>
    <maxBatchLogEvents>50</maxBatchLogEvents>
    <maxFlushTimeMillis>30000</maxFlushTimeMillis>
    <maxBlockTimeMillis>5000</maxBlockTimeMillis>
    <retentionTimeDays>0</retentionTimeDays>
</appender>

<logger name="org.springframework" level="INFO" />
<logger name="com.hanghae.commerce" level="INFO"/>
<root level="INFO">
    <appender-ref ref="ASYNC_AWS_LOGS" />
</root>

</configuration>
